@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Variable.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Satoshi", sans-serif;
  background-color: #121b27;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10.8rem;
  height: 6.2rem;
  margin: 4.2rem 0 1rem 0;
}

@media (max-width: 500px) {
  .header {
    margin: 4.2rem 0.1rem 0rem 0.1rem;
  }
}

.logo {
  font-family: DM Sans;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6.2rem;
  color: #ffffff;
}

@media (max-width: 500px) {
  .logo {
    font-size: 3rem;
    font-weight: 400;
  }
}

.btn {
  padding: 1.4rem 1.6rem;
  border-radius: 10rem;
  color: #ffffff;
  border: 1px solid #a75fd2;
}

@media (max-width: 500px) {
  .btn {
    padding: auto;
    border-radius: 5rem;
  }
}

.container {
  max-width: 95rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  overflow: auto;
  text-align: center;
  position: relative;
}

.container .star {
  position: absolute;
  left: -44%;
  top: 8rem;
}

.container .star2 {
  position: absolute;
  left: 30%;
  top: 20rem;
}

.container img {
  margin-left: 60rem;
}

.secondary-heading {
  max-width: 80rem;
  font-weight: 900;
  font-size: 6rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

@media (max-width: 500px) {
  .secondary-heading {
    font-size: 3rem;
  }
}

.secondary-heading span {
  color: #a75fd2;
}

.description {
  max-width: 100%;
  font-weight: 400;
  font-size: 2rem;
  line-height: 130%;
  color: #fcfcfc;
}

.description2 {
  text-align: center;
  font-weight: 200;
  font-size: 1.8rem;
  line-height: 130%;
  color: #fcfcfc;
}

.cta-form {
  margin: 2rem;
}

.cta {
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 3rem auto;
  width: 45rem;
  height: 5.2rem;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.cta svg {
  color: #ffffff;
  font-size: 2rem;
  margin: 3px 8px;
}

.cta input {
  flex: 1;
  height: 5rem;
  background: transparent;
  border: none;
  color: #ffffff;
}

.foot {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.foot svg {
  color: #ffffff;
  font-size: 2rem;
  margin: 3px 8px;
}

.box {
  padding: 1.4rem 1.2rem;
  width: 44.3rem;
  height: 5rem;
  background: linear-gradient(
    112.92deg,
    #5404ff 18.35%,
    rgba(189, 59, 210, 0.94) 71.49%
  );
  border-radius: 10rem;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.box2 {
  margin-left: 8rem;
  padding: 1.4rem 1.2rem;
  width: 44.3rem;
  height: 5rem;
  background: linear-gradient(
    112.92deg,
    #5404ff 18.35%,
    rgba(189, 59, 210, 0.94) 71.49%
  );
  border-radius: 10rem;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.members {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 2rem;
}

@media (max-width: 770px) {
  .members {
    margin-top: 5rem;
  }
}

.member button {
  font-size: 1.6rem;
  font-weight: 700;
  height: 3.4rem;
  width: 3.4rem;
  border-radius: 50%;
  margin-right: -0.8rem;
  border: none;
  background-color: #175ce1;
  color: #ffffff;
}

.member button:nth-child(even) {
  background-color: #a75fd2;
}

.delivered-text {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
}

.ball {
  position: absolute;
  top: 15rem;
  left: 8rem;
}

@media (max-width: 1024px) {
  .ball {
    display: none;
  }
}

.ball3 {
  position: absolute;
  top: 0rem;
  left: 8rem;
}

@media (max-width: 1024px) {
  .ball3 {
    display: none;
  }
}

@media (max-width: 500px) {
  .ball {
    display: none;
  }
}

.blue1 {
  position: absolute;
  top: -10rem;
  right: 8rem;
}

@media (max-width: 500px) {
  .blue1 {
    display: none;
  }
}

.blue2 {
  position: absolute;
  top: -2rem;
  left: 56rem;
}

@media (max-width: 500px) {
  .blue2 {
    display: none;
  }
}

.ball2 {
  position: absolute;
  right: 0;
  top: 28rem;
}

@media (max-width: 1024px) {
  .ball2 {
    display: none;
  }
}

.line {
  position: absolute;
  right: 40rem;
  top: 46rem;
}

@media (max-width: 1024px) {
  .line {
    display: none;
  }
}

.star3 {
  position: absolute;
  right: 10rem;
  top: 72rem;
}

@media (max-width: 500px) {
  .star3 {
    display: none;
  }
}

.star4 {
  position: absolute;
  left: 18rem;
}

@media (max-width: 500px) {
  .star4 {
    display: none;
  }
}

.star5 {
  position: absolute;
  left: 52rem;
  top: 52rem;
}
@media (max-width: 500px) {
  .star5 {
    display: none;
  }
}

.star6 {
  position: absolute;
  top: 12rem;
  left: 40rem;
}

@media (max-width: 500px) {
  .star6 {
    display: none;
  }
}

.star7 {
  position: absolute;
  bottom: -10rem;
  right: 5rem;
}

@media (max-width: 500px) {
  .star7 {
    display: none;
  }
}

.section-body {
  margin: 20rem 12rem 14rem 12rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  position: relative;
}

@media (max-width: 1024px) {
  .section-body {
    grid-template-columns: 1fr;
  }
}

.body-discription p {
  margin-top: 8rem;
  padding: 0rem 10rem 0rem 0rem;
}

.secondary-heading2 {
  width: 100%;
  font-weight: 900;
  font-size: 6rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
  margin-top: -4rem;
}

.secondary-heading3 {
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
  margin-top: -4rem;
}

.body-form {
  width: 63.3rem;
  /* height: 63.7rem; */
  background: #1d2939;
  border-radius: 2rem;
}

.form-heading {
  font-weight: 700;
  font-size: 2.4rem;
  color: #ffffff;
  text-align: center;
  margin: 5rem 0;
}

.cta2 {
  background-color: inherit;
  align-items: center;
  margin: 3rem auto;
  width: 45rem;
  height: 5.2rem;
  border: 1px solid #ffffff;
  border-radius: 8px;
}
.cta2 input {
  width: 100%;
  height: 5rem;
  background: transparent;
  border: none;
  color: #ffffff;
  padding-left: 1.5rem;
}

textarea {
  display: flex;
  justify-content: center;
  background-color: inherit;
  color: #ffffff;
  align-items: center;
  margin: 3rem auto;
  border: 1px solid #ffffff;
  border-radius: 6px;
}

.line6 {
  margin-left: 10em;
  margin-bottom: -6rem;
}

.section-footer {
  padding: 1.4rem 12rem;
}

.stroke-horizontal {
  height: 0.1rem;
  background-color: #ffffff;
  margin-bottom: 3.5rem;
}

.footer-text {
  display: flex;
  justify-content: space-between;
}

.footer-text p {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 1.4rem;
}
.section-popup {
  width: 100%;
  background: #121212d5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.center {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #15141b;
  border-radius: 20px;
  width: 446px;
  height: 475px;
}

.center img {
  margin-top: -5rem;
  margin-bottom: 5rem;
}
